.title{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background: whitesmoke;
}
.expenses {
  background: silver;
  width: 100%;
  margin: 0;
  display: block;
  padding-inline-start: 0;
}
a {
  color: black;
}
.title{
  width: 100%;
  display: flex;
  box-sizing: content-box;
}
.title h1 {
  margin: 10px 10px 10px 25px;
}
.info{
  width: 100%;
  display: flex;
}
.info p{
  font-weight: 500;
  margin: 25px 10px 10px;
}
.title button {
  width: 100px;
  padding: 5px;
  margin: 5px;
  background: #3f51b5;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}


.container{
  text-align: center;
}

.container mat-form-field{
  margin: 0 10px;
}
.container button {
  margin: 0 10px;
}
.container-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-item{
  font-weight: 500;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 150px;
  height: 35px;
  line-height: 35px;
}
li {
  font-weight: 500;
  align-content: center;
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;*/
  padding: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: inline-block;
}
li:nth-child(odd) {
  background: silver;
}
li:hover{
  background: dimgrey;
}
li:last-child {
  border-bottom: 1px solid black;
}
